@{
    ViewBag.Title = "Contact";
}

<address>
    Belarus<br />
    Minsk<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yauheni@liohenki.com">yauheni@liohenki.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:legenkiyes@gmail.com">legenkiyes@gmail.com</a>
</address>