@{
    ViewBag.Title = "Contact";
}

<form action="~/Email/Send" method="POST">
    <div class="contacts-message">
        <h3>Leave message</h3>
        <div class="row">
            <span>Name</span><input type="text" name="from" id="fromEmail">
        </div>
        <div class="row">
            <span>Subject</span><input type="text" name="subject" id="subjectEmail">
        </div>
        <div class="row">
            <span>Message</span><textarea rows="4" cols="50" name="body" id="bodyEmail"></textarea>
        </div>
        <button type="submit" id="sendEmailButton" onclick="SendEmail(); return false;">Submit</button>
    </div>
</form>

<address>
    Belarus<br />
    Minsk<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yauheni@liohenki.com">yauheni@liohenki.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:legenkiyes@gmail.com">legenkiyes@gmail.com</a>
</address>