@{
    ViewBag.Title = "Contact";
}

<form action="~/Email/Send" method="POST">
    <div class="contacts-message">
        <h3>Leave message</h3>
        <div class="row">
            <span>How can I call You?</span><input type="text" name="from" maxlength="150" id="fromEmail">
        </div>
        <div class="row">
            <span>Contacts</span><input type="text" name="subject" maxlength="150" id="subjectEmail">
        </div>
        <div class="row">
            <span>Message</span><textarea rows="4" cols="50" name="body" maxlength="5000" id="bodyEmail"></textarea>
        </div>
        <div class="email-button-container">
            <button type="submit" id="sendEmailButton" class="sendEmail" onclick="SendEmail(); return false;">
                <div class="emailText">
                    <p>SEND</p> <i class="fa fa-envelope"></i>
                </div>
                <div class="emailLoader"></div>
                <div class="emailDone">
                    <p>SUCCESS</p>
                </div>
            </button>
        </div>
    </div>
</form>

<address>
    Belarus<br />
    Minsk<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yauheni@liohenki.com">yauheni@liohenki.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:legenkiyes@gmail.com">legenkiyes@gmail.com</a>
</address>