@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";
}

@section head
{
    @Styles.Render("~/Content/mainpage.css")
}

@section scripts
{
    @Scripts.Render("~/Scripts/cbpAnimatedHeader.js")
    @Scripts.Render("~/bundles/expertisegrid")
}

<header id="home" class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Content/Images/profile.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Web, Mobile Developer</span>
                    <hr class="thick-light">
                    <span class="skills">Create solutions</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div class="list-group services-list">
            <div class="col-sm-4 list-group-item clearfix" data-delay="0">
                <i class="col-sm-4 fa fa-desktop fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Front-End Web Development</strong></h5>
                    <p>
                        Hands on experience of creating responsive, interactive web pages/single page applications.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 list-group-item" data-delay="200">
                <i class="col-sm-4 fa fa-tasks fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Back-End Web Development</strong></h5>
                    <p>
                        Skills in creating reliable, easy-support, stable back-end applications, using relational/NoSQL databases.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 list-group-item" data-delay="400">
                <i class="col-sm-4 fa fa-mobile fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Mobile Development</strong></h5>
                    <p>
                        Able to create nice-looking, smooth-feeling application for Android/IOS/Windows Phone platforms using Xamarin.
                    </p>
                </div>
            </div>
        </div>
        <div id="see-portfolio" class="row">
            <div class="col-sm-12 hire-me-button">
                <h4 class="align-center"><strong>HIRE ME NOW</strong></h4>
                <p class="align-center">
                    <a href="#contact" data-type="video" class="scroll-smooth sr-button sr-buttonicon scroll-to"><i class="fa fa-angle-down fa-fw"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="expertise">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Expertise</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div id="filters" class="button-group">
            <div>
                <button class="button is-checked" data-filter="*">show all</button>
                <button class="button" data-filter=".back-end">Back-End</button>
                <button class="button" data-filter=".front-end">Front-End</button>
                <button class="button" data-filter=".database">Database</button>
                <button class="button" data-filter=".mobile">Mobile</button>
            </div>
        </div>
        <div class="expretise-grid">
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web front-end expertise-angular">
                <div class="name"><p>AngularJS</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-aspnet">
                <div class="name"><p>ASP.NET</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-net">
                <div class="name"><p>.NET</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 mobile expertise-xamarin">
                <div class="name"><p>Xamarin</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-nodejs">
                <div class="name"><p>NodeJS</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2  mobile expertise-ionic">
                <div class="name"><p>Ionic</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2  web front-end expertise-bootstrap">
                <div class="name">
                    <p>Bootstrap</p>
                </div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6-square col-sm-4 col-md-2  database expertise-sqlserver">
                <div class="name">
                    <p>MS SQL Server</p>
                </div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6-square col-sm-4 col-md-2  database expertise-mongodb">
                <div class="name"><p>Mongo DB</p></div>
                <p class="date">04112015</p>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div id="portfolio_filters" class="button-group">
            <div>
                <button class="button is-checked" data-filter="*">show all</button>
                <button class="button" data-filter=".back-end">ASP.NET</button>
                <button class="button" data-filter=".front-end">Front-End</button>
                <button class="button" data-filter=".mobile">Mobile</button>
            </div>
        </div>
        <div class="portfolio-grid">
            <div class="portfolio-item web front-end">
                <div class="name"><p>PINSol</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item web back-end portfolio-cvmanager">
                <div class="name"><p>CV Manager</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item web back-end">
                <div class="name"><p>Vacation Manager</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item mobile">
                <div class="name"><p>Xamarin</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item web back-end">
                <div class="name"><p>NodeJS</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item mobile">
                <div class="name"><p>Ionic</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="portfolio-item web front-end">
                <div class="name"><p>Bootstrap</p></div>
                <p class="date">04112015</p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="row">
    <div class="col-sm-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</section>

<section id="contact">
    <div class="container">
        <p>This is contacts section</p>
    </div>
</section>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
