@using System.Web.UI.WebControls
@{
    ViewBag.Title = "GitHubCoach";
}

@section head
{
    @Styles.Render("~/Content/Projects.less")
}

@section scripts
{
}

<div class="projects-container">
    <div class="project-entity">
        <h1 class="project-name">GitHub Commit Notifier</h1>
        <p>Github Coach is an android app to help you keep your commits streak.</p>
        <br/>
        <h2 class="project-screens">Screenshots</h2>
        <img >
        <a href="https://github.com/YLiohenki/GitHub-Commit-Notifier" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="~/Content/Images/github-fork.png" alt="Fork me on GitHub"></a>
        <img src="~/Content/Images/Projects/GitHubCommitNotifier/screen1.png" alt="Screenshot 1" style="max-width: 30%;">
        <img src="~/Content/Images/Projects/GitHubCommitNotifier/screen2.png" alt="Screenshot 2" style="max-width: 30%;">
        <img src="~/Content/Images/Projects/GitHubCommitNotifier/screen3.png" alt="Screenshot 3" style="max-width: 30%;">
    </div>
</div>