@{
    ViewBag.Title = "List of projects";
}

@section head
{
    @Styles.Render("~/Content/Projects.less")
}

@section scripts
{
}

<div class="projects-container">
    <div class="projects-list">
        <h2>References</h2>
        <br />
        <ol type="1">
            <li>
                <a href="/Projects/GitHubCommitNotifier">
                    <p>GitHubCoach</p>
                </a>
            </li>
        </ol>
    </div>
</div>

